    
    :root{
    --grey-one:#434455;
    --grey-two:#2E2F42; 
    --blue-one:#4D5AE5;
    --blue-two:#404BBF;
    --white-one:#FFFFFF;
    --white-two:#F4F4FD;
    --white-three:#E7E9FC;   
    --body-text-color:var(--grey-one);
    --bodi-title-color:var(--grey-two);
    --background-hero-footer-color:var(--grey-two);
    --hover-focus-color:var(--blue-one);
    --btn-color:var(--blue-one);
    --btn-hover-focus-color:var(--blue-two);
    --btn-text-color:var(--white-one);
    }
    body{
    font-family: 'roboto', sans-serif;
    font-size: 16px;
    color:var(--grey-two);
    background-color:var(--white-one);
    }
    .section-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    }
    .section-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    }
    .sction-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--body-text-color);
    }
    button {
    padding: 12px 24px;    
    border-radius: 4px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
    }
    button:focus, button:hover {
    background-color:var(--btn-hover-focus-color);
    color:var(--white-one);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    }
    .list{ 
    list-style: none;
    }
    .link{
    text-decoration: none;
    }
    /* ---------HEADER----------- */
    /* ---------NAV----------- */
    .nav-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bodi-title-color);
    }
    .nav-logo:hover, 
    .nav-logo:focus{
    color:var(--hover-focus-color);
    }
    .accent{
    color: var(--hover-focus-color);
    }
    .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bodi-title-color);   
    }
    .contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--body-text-color);
    font-style: normal;
    }
    .nav-list .nav-link:hover, 
    .nav-list .nav-link:focus,
    .contact-link:hover, .contact-link:focus,   
    .footer-logo:hover, .footer-logo:focus
    {
    color: var(--hover-focus-color);  
    }
    /* --------MAIN------------ */
        /* --------HERO------------ */
    .hero {
    background: var(--background-hero-footer-color);
    }
    .hero-btn{
    background: var(--btn-color);
    color:var(--btn-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    }
    .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:var(--white-one);
    }
    /* -------------TEAM------------ */
    .team {
    background:var(--white-two);
    }
    .portfolio-btn{
    background:var(--white-two); 
    color: var(--btn-color);
    border: 1px solid var(--white-three);
    border-radius: 4px;}
    /* ---------FOOTER--------- */
    .footer{
    background-color: var(--background-hero-footer-color)
    }
    .footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-two);
    }
    .footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--white-three);
    }